AI_GATEWAY_OPENAI_URL=https://gateway.ai.cloudflare.com/v1/43243242/chatsemble/openai
AI_GATEWAY_GROQ_URL=https://gateway.ai.cloudflare.com/v1/432432342/chatsemble/groq

OPENAI_API_KEY=key
GROQ_API_KEY=key

BRAVE_API_KEY=key
FIRECRAWL_API_KEY=key

APP_URL=http://localhost:5173

BETTER_AUTH_SECRET=secret

EMAIL_SENDER=sender@email.com
RESEND_API_KEY=key
MOCK_SEND_EMAIL=true